.link {
  display: inline-block;
  appearance: none;
  background: none;
  border: none;
  color: #ccc;
  font-family: unset;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  padding: var(--space--base);
  transition: color 300ms, background 300ms;
  border-radius: 3px;
}

.link:hover {
  color: #fcfcfc;
  background: #222;
}