.button {
  appearance: none;
  border: none;
  background: var(--color--white);
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius--round);
  border: 1px solid var(--color--text);
  font-family: var(--font-family--base);
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--heavy);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing--base);
  cursor: pointer;
  padding: 0;
  height: var(--space--larger);
  transition: background var(--transition--base), color var(--transition--base), border-color var(--transition--base);
}

.button:hover {
  background: var(--color--primary);
  color: var(--color--white);
  border-color: var(--color--primary);
}

.icon {
  --button--icon-padding: calc(var(--space--base) * 0.75);

  padding: 0 var(--button--icon-padding) 0 calc(var(--button--icon-padding) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:only-child {
  padding: 0;
  width: var(--space--larger);
}

.text {
  --button--text-padding: calc(var(--space--base) * 1.1875);

  padding: 0 var(--button--text-padding);
}

.icon + .text {
  padding: 0 var(--button--text-padding) 0 0;
}