.text {
  line-height: 1.6;
}

.text:first-of-type {
  margin-top: 0;
}

.text:last-of-type {
  margin-bottom: 0;
}

.text:only-of-type {
  margin: 0;
}

.base {
  font-size: var(--font-size--base);
}

.small {
  font-size: var(--font-size--small);
}

.large {
  font-size: var(--font-size--large);
  
}