.text {
  font-weight: var(--text--font-weight);
  color: var(--color--text);
  font-size: var(--text--font-size);
  line-height: 1.8;
  font-family: var(--font-family--base);
}

/* Font sizes */
.base {
  --text--font-size: var(--font-size--base);
}

.small {
  --text--font-size: var(--font-size--small);
}

/* Font weights */
.normal {
  --text--font-weight: 400;
}

.bold {
  --text--font-weight: 700;
}