.container {
  position: fixed;
  bottom: var(--space--base);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(var(--space--base) * 18);
  transform: translateX(-50%);
}

.toast {
  position: relative;
  overflow: hidden;
  margin-top: var(--space--small);
  padding: var(--space--base) var(--space--base);
  border-radius: var(--radius--base);
  background: var(--color--text);
  color: var(--color--background);
  font-size: var(--font-size--base);
  text-align: center;
}

.toast.success {
  background: var(--color--success);
}

.toast.error {
  background: var(--color--error);
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--space--smaller);
  background: var(--color--text);
  opacity: 0.3;
}

.timer.success {
  background: var(--color--success--dark);
}

.timer.error {
  background: var(--color--error--dark);
}