:root {
  --font-family--base: 'Open Sans', sans-serif;
  --font-family--display: 'Playfair Display', serif;
}

:root {
  --font-size--base: 18px;

  --font-size--smaller: calc(var(--font-size--base) * 0.75);
  --font-size--small: calc(var(--font-size--base) * 0.875);

  --font-size--large: calc(var(--font-size--base) * 1.5);
  --font-size--largest: calc(var(--font-size--base) * 4);
}