@import './space.css';
@import './radii.css';
@import './colors.css';
@import './typography.css';
@import './transitions.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family--base);
  background-color: #e5e5f7;
  background-image: radial-gradient(#ccc 1px, transparent 1px), radial-gradient(#ccc 1px, #e5e5f7 1px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
