@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&family=Noto+Serif+KR:wght@300&display=swap");
@import "./pids.css";

html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  font-weight: 300;
  line-height: 1.8;
}

a {
  color: var(--pids--color--primary);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
