:root {
  --color-primary: #f2858a;
  --color-secondary: #ffd986;

  --color-grey--lightest: #fcfcfc;
  --color-grey: #595959;
}

:root {
  --fontSize-small: calc(var(--fontSize-base) * 0.78);
  --fontSize-base: 18px;
  --fontFamily-base: 'Open Sans', sans-serif;;
  --fontFamily-fancy: 'Noto Serif', serif;
}

:root {
  --space-small: calc(var(--space-base) / 2);
  --space-base: 16px;
  --space-large: calc(var(--space-base) * 1.5);
  --space-larger: calc(var(--space-base) * 2);
}

html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  background:  var(--color-grey--lightest);
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily-base);
  font-size: var(--fontSize-base);
  line-height: 1.6;
  color: var(--color-grey);
  height: 5000px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: var(--fontFamily-fancy);
  line-height: 1.2;
  margin-top: 0;
  margin:0;
}
