.nav {
  padding: var(--space--base);
  border-bottom: 1px solid var(--color--border);
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    padding: var(--space--base) var(--space--largest);
  }
}

@media (min-width: 1024) {
  .nav {
    align-items: center;
  }
}

.list {
  display: flex;
  gap: var(--space--small);
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--font-size--small);
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    gap: var(--space--large);
    text-transform: uppercase;
  }
}

.social {
  display: none;
  margin-left: auto;
  font-size: var(--font-size--smaller);
}

@media (min-width: 1024px) {
  .social {
    display: inline-flex;
  }
}

.item {
  text-decoration: none;
}
