.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(252,252,252,0.8);
  padding: 0 var(--space-base);
  backdrop-filter: blur(2px);
  border-top: 4px solid var(--color-secondary);
}

@media screen and (min-width: 600px)  {
  .navigation {
    padding: 0 var(--space-large)
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.link {
  display: block;
  margin-top: -4px;
  padding: var(--space-base);
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--fontSize-small);
  color: var(--color-grey);
  box-shadow: 0 0 0 0 var(--color-primary) inset;
  transition: color 300ms, box-shadow 500ms;
}

.link.active,
.link:hover {
  color: var(--color-primary);
  box-shadow: 0 4px 0 0 var(--color-primary) inset;
}
