.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--space--largest) * -1);
}

@media (min-width: 1024px) {
  .content {
    margin-top: calc(var(--space--large) * -1);
  }
}
